/*HERO*/
#hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 90vh;
	color: $color_1;
	background-image: linear-gradient( 0deg, rgb(0,0,0,0.5), rgb(0,0,0,0.5) ),url("/img/fitness1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	h1 {
		color: $color_1;
	}
	button {
		font-size: 1.75em;
	}
}